<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713510957180-fquq87d7qq8p85amhfk7snq6ufc43q53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713510957180-fquq87d7qq8p85amhfk7snq6ufc43q53</string>
	<key>API_KEY</key>
	<string>AIzaSyDKvpblfJLWP9C3MyLS4J-b6zNgQTNpr6I</string>
	<key>GCM_SENDER_ID</key>
	<string>713510957180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Symphony.InfinityHeroes</string>
	<key>PROJECT_ID</key>
	<string>infinite-heroes-a0dab</string>
	<key>STORAGE_BUCKET</key>
	<string>infinite-heroes-a0dab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713510957180:ios:0e29c0f3adc7d2b4a459f9</string>
</dict>
</plist>